<div class="bg-white border" *ngIf="photo$ | async as photo">
  <div class="row">
    <div class="col-lg-8">
      <pic-photo [url]="photo.url" [title]="photo.description"></pic-photo>
    </div>

    <div class="col-lg-4 p-4">
      <small>
        <p class="text-left break-word">{{ photo.description }}</p>
        <div class="text-left mb-4">
          <i (click)="remove()" class="far fa-comment fa-2x mr-2 ml-2"></i>
          {{ photo.comments }}
          <i
            photoOwnerOnly
            [ownedPhoto]="photo"
            class="far fa-trash-alt fa-2x float-right"
          ></i>
        </div>
        <hr />
      </small>
      <pic-photo-comments
        *ngIf="photo.allowComments; else warning"
        [photoId]="photoId"
      ></pic-photo-comments>
      <ng-template #warning>
        <p>User has disabled comments for this photo</p>
      </ng-template>
    </div>
  </div>
</div>
