<form class="form mt-4" [formGroup]="loginForm" (submit)="login()">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="user name" autofocus formControlName="userName" />
    <pic-validation-message
      text="User Name is required!"
      *ngIf="!!loginForm.get('userName').errors?.required"
    ></pic-validation-message>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="password" formControlName="password" />
    <pic-validation-message
      text="Password is required!"
      *ngIf="!!loginForm.get('password').errors?.required"
    ></pic-validation-message>
  </div>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
</form>

<p>Not a user? <a>Register now</a></p>
